%h2 Вопросы читателей

.comment
  -@interview.question.each do |question|
    %p
      %b= question.autor 
      %br
      =question.body
      = render :partial => "answers/output", :locals => {:question => question}


-if (@interview.openquest)
  %h2 Добавить вопрос
  = simple_form_for(@question) do |f|
    = f.input :interview_id, :input_html => {:value => @interview.id}, :as => :hidden
    = f.input :autor  
    = f.input :body, :as => :text
    %br/
    = f.submit
