-if @hero.title
  =button_to "удалить", @hero, :method => :delete, :class => "del", :confirm => "Точно?"
=simple_form_for (@hero) do |f|
  = f.input :title, :label => 'Имя героя' 
  = f.input :publish, :label => 'Опубликовать?'
  = f.input :profession, :label => 'Профессия (должность)' 
  = f.input :slug, :label => 'Ссылка' 
  = f.input :intro, :as => :text, :label => 'Превью' 
  %label Полный текст  
  =f.cktext_area :body, :toolbar => 'Post', :width => 900, :height => 500
  %label Фото героя    
  = f.file_field :heropic
  = f.submit :class => 'btn btn-primary', :value => "Опубликовать"
