- title "Герои дня"
%div.single_page
  -@heroes.each do |hero|
    -if check_show(hero)
      %div.one_pub
        %h3= link_to hero.title, hero 
        %p.news_img= image_tag hero.heropic.url(:medium) 
        %div.text_body
          = hero.intro
          = link_to "смотрите скорее >>", hero
  = will_paginate @heroes, :class => "page_nav"

