- title "Герой дня - #{@hero.title}"
- meta_description "#{@hero.intro}"

.single_page
  .post_area
    %h1= @hero.title
    = render :partial => "layouts/editcont", :locals => {:content => @hero}
    %p.hero_pro= @hero.profession
    %p= image_tag @hero.heropic.url
    %p.hero_intro= @hero.intro 
    %p= @hero.body.html_safe
    = render :partial => "layouts/social"
  = render :partial => "comments/output", :locals => {:commentable => @hero}





