.admin_page
  .admin_comments

  = link_to 'Добавить статью', new_publication_path
  = link_to 'Добавить страницу', new_page_path

    %h2 Последние каменты
    - @comments.each do |comment|
      .one_comment_edit
        -if (comment.autor)
          %b= comment.autor 
        -else
          %b Анонимов А.А.
        %br     
        =comment.body
        = button_to "удалить", comment, :method => :delete, :confirm => ""
        %p.parent 
          =link_to comment.commentable.title, comment.commentable
  
  .admin_quests      
    %h2 Последние вопросы
    - @questions.each do |question|
      .one_quest_adm
        = question.body
        = button_to "удалить", question, :method => :delete

  .admin_users      
    %h2 Пользователи
    - @users.each do |user|
      %p
        = user.email
        = user.approved
        = user.admin
        = link_to 'редактировать', edit_user_path(user)


  .clear
