%h2 Каменты

.comment
  -commentable.comments.each do |comment|
    %p= comment.body
    %br/

%h2 Добавить камент

= simple_form_for(@comment) do |f|
  = f.input :commentable_id, :input_html => {:value => commentable.id}, :as => :hidden  
  = f.input :commentable_type, :input_html => {:value => commentable.class}, :as => :hidden 
  = f.input :body, :as => :text
  %br/
  = f.submit
