%h2 Оставьте комментарий:

= simple_form_for(@comment) do |f|
  = f.input :commentable_id, :input_html => {:value => commentable.id}, :as => :hidden  
  = f.input :commentable_type, :input_html => {:value => commentable.class}, :as => :hidden 
  = f.input :autor, :label => 'Ваше имя' 
  = f.input :body, :as => :text, :label => 'Комментарий' 
  %br/
  = f.submit :class => 'btn btn-primary', :value => "Оставить комментарий"

-unless commentable.comments.empty?
  %h2 Комментарии читателей:
  .comment
    -commentable.comments.each do |comment|
      %div.lone_comment
        %p.comment_autor
          -if (comment.autor)
            = comment.autor
          -else
            Анонимов А.А.  
        %p.comment_date= comment.created_at.strftime("%d %B %Y в %I:%H")     
        %p.comment_body= comment.body



