%span.add_comment Добавить комментарий
.new_comment
  %h2 Оставьте комментарий:
  = simple_form_for(@comment, remote: true) do |f|
    = f.input :commentable_id, :input_html => {:value => commentable.id}, :as => :hidden  
    = f.input :commentable_type, :input_html => {:value => commentable.class}, :as => :hidden 
    = f.input :autor, :label => 'Ваше имя' 
    = text_field_tag 'email'
    = f.input :body, :as => :text, :label => 'Комментарий'
    = render partial: "comments/capcha"
    %br/
    = f.submit :class => 'go_button', :value => "Оставить комментарий"

.comment
  -unless commentable.comments.empty?
    %h2 Комментарии читателей:
    -commentable.comments.each do |comment|
      = render partial: "comments/lone_comment", :locals => {:comment => comment}

