%h2 Каменты

.comment
  -commentable.comments.each do |comment|
    %p= comment.body
    %br/

%h2 Добавить камент

= form_for(@comment) do |f|
  = f.hidden_field :commentable_id, {:value => commentable.id}  
  = f.hidden_field :commentable_type, {:value => commentable.class} 
  = f.text_area :body
  %br/
  = f.submit
