%div.single_page
  =simple_form_for (@interview) do |f|
    = f.input :title 
    = f.input :slug
    = f.input :openquest
    = f.input :pubdate
    = f.input :questpub
    = f.input :intro
    = f.input :body, :as => :text
    = f.submit

