-if @interview.title
  =button_to "удалить", @interview, :method => :delete, :class => "del", :confirm => "Точно?"
=simple_form_for (@interview) do |f|
  = f.input :title, :label => 'Заголовок (имя фамилия)'
  = f.input :publish, :label => 'Опубликовать?'
  = f.input :slug, :label => 'Ссылка' 
  = f.input :openquest, :label => 'Разрешить задавать вопросы?' 
  = f.input :pubdate, :label => 'Дата публикации ответов' 
  = f.input :questpub, :label => 'Опубликовать ответы?' 
  = f.input :intro, :label => 'Превью'
  %label Полный текст  
  -#f.cktext_area :body, :toolbar => 'Ngkub'
  =f.cktext_area :body
  %label Фото
  = f.file_field :personpic
  = f.submit :class => 'btn btn-primary', :value => "Опубликовать"

