- title "Онлайн интервью: #{@interview.title}"
- meta_description "#{@interview.intro}"

.single_page
  .post_area  
    %h1= @interview.title
    = render :partial => "layouts/editcont", :locals => {:content => @interview}

    %p= image_tag @interview.personpic.url
    %p= @interview.body.html_safe
    -if (@interview.questpub)
      = render :partial => "layouts/social"
    -if (!@interview.questpub)
      %p
        Ориентировочная дата публикации 
        = @interview.pubdate

  = render :partial => "questions/outquest"


  .clear
  -if (@interview.questpub)
    = render :partial => "comments/output", :locals => {:commentable => @interview}






