%h1 
  = link_to @interview.title, interviews_path 

%p= @interview.slug
%p= @interview.intro 
%p= @interview.body

-if (!@interview.questpub)
  %p
    Ориентировочная дата публикации 
    = @interview.pubdate

= render :partial => "questions/outquest"

-if (@interview.questpub)
  = render :partial => "comments/output", :locals => {:commentable => @interview}





