%div.single_page
  %h1= @interview.title
  -if user_signed_in? and current_user.admin?
    %p.edit= link_to 'Редактировать', edit_hero_path(@hero) 

  %p= image_tag @interview.personpic.url
  %p= @interview.body

  -if (!@interview.questpub)
    %p
      Ориентировочная дата публикации 
      = @interview.pubdate

  = render :partial => "questions/outquest"

  -if (@interview.questpub)
    = render :partial => "comments/output", :locals => {:commentable => @interview}





