- title "Все новости"

%div.single_page
  -@publications.each do |publication|
    -if check_show(publication)
      %div.one_pub
        %h3= link_to publication.title, publication
        %span.date= l publication.created_at, :format => :ngkub
        -if publication.newspic.url != "/newspics/original/missing.png"
          %p.news_img= image_tag publication.newspic.url(:medium)
        %div.text_body
          = strip_tags publication.intro
          = link_to "Полная версия &rarr;".html_safe, news_path(publication)
  = will_paginate @publications, :previous_label => "&larr;", :next_label => "&rarr;", :class => "page_nav"
  
