= link_to 'Добавить статью', new_publication_path

%div.single_page
  -@publications.each do |publication|
    %div.one_pub
      %h3= link_to publication.title, publication 
      %span.date= l publication.created_at, :format => :ngkub
      %p.news_img= image_tag publication.newspic.url(:medium) 
      %div.text_body
        = publication.intro
        = link_to "Полная версия &rarr;".html_safe, news_path(publication)
  = will_paginate @publications, :previous_label => "&larr;", :next_label => "&rarr;", :class => "page_nav"
  
