%div.single_page
  -@publications.each do |publication|
    %div.one_pub
      %h3= link_to publication.title, publication 
      %span.date= publication.created_at.strftime("%d %B %Y") 
      %p.news_img= image_tag publication.newspic.url(:medium) 
      %div.text_body
        = publication.intro
        = link_to "читайте полную версию >>", publication
  %p  
    = link_to 'Добавить статью', new_publication_path
