%div.single_page
  %div.page_head
    %h1= @publication.title 
    %span.date= @publication.created_at.strftime("%d %B %Y") 
    &rarr;
    %span.category= link_to(@publication.category.title, @publication.category)

  %p.news_img= image_tag @publication.newspic.url(:medium) 
  %div.text_body= @publication.body

  = render :partial => "comments/output", :locals => {:commentable => @publication}





