%div.single_page
  %h1= @publication.title 
  %p= image_tag @publication.newspic.url 
  %p.category= @publication.category.title 
  %div.text_body= @publication.body

  = render :partial => "comments/output", :locals => {:commentable => @publication}





