%div.single_page
  %div.page_head
    %h1= @publication.title 
    %span.date= @publication.created_at.strftime("%d %B %Y") 
    %span.category
      &rarr;       
      =link_to(@publication.category.title, @publication.category)
    -if user_signed_in? and current_user.admin?
      %p.edit= link_to 'Редактировать', edit_hero_path(@hero)
  
  %p.news_img= image_tag @publication.newspic.url(:medium) 
  %div.text_body= @publication.body

  = render :partial => "comments/output", :locals => {:commentable => @publication}

.right_side
  %div.page_block
    %div.block_hd Рекомендуем:
    %div.block_content.recomend
      -@related_pubs.each do |pub|
        %div.one_post
          = image_tag pub.newspic.url(:thumb), :width => "150" 
          %br
          %h4= link_to pub.title, pub
          %span.date_grey= pub.created_at.strftime("%d %B %Y, %I:%H")

