%h1 
  = link_to @publication.title, publications_path 

%p= image_tag @publication.newspic.url 
%p= @publication.slug
%p= @publication.category.title 
%p= @publication.intro 
%p= @publication.body

= render :partial => "comments/output", :locals => {:commentable => @publication}





