- title "#{@publication.title}"
- meta_description "#{@publication.intro}"

.single_page
  .post_area  
    %div.page_head
      %h1= @publication.title 
      %span.date= l @publication.created_at, :format => :ngkub
      %span.category
        %span &rarr;
        -if @publication.category       
          =link_to(@publication.category.title, @publication.category)
      
    = render :partial => "layouts/editcont", :locals => {:content => @publication}
    
    %p.news_img= image_tag @publication.newspic.url(:medium) 
    %div.text_body= raw @publication.body
    = render :partial => "layouts/social"
    
  = render :partial => "comments/output", :locals => {:commentable => @publication}

-if @related_pubs
  .right_side
    %div.page_block
      %div.block_hd Рекомендуем:
      %div.block_content.recomend
        -@related_pubs.each do |pub|
          %div.one_post
            -unless pub.newspic.url == '/newspics/original/missing.png'
              = image_tag pub.newspic.url(:thumb), :width => "150" 
            %br
            %h4= link_to pub.title, pub
            %span.date_grey=l pub.created_at, :format => :ngkub_full

