-if (question.answer)&&(question.interview.questpub)
  %p.answer= question.answer.body
-elsif (!question.answer)
  = simple_form_for(@answer) do |f|
    = f.input :question_id, :input_html => {:value => question.id}, :as => :hidden  
    = f.input :body, :as => :text, :label => 'Ваш ответ'
    %br/
    = f.submit :class => 'go_button', :value => "Ответить"
