- title "новости, статьи, интервью Краснодара"
#wrapper
  #content
    = render :partial => "index_slider"
    = render :partial => "index_news"
    = render :partial => "teles/onmain"

#navigation
  -cache ('lastest_comments') do
    = render_cell :index_page, :comments

  = render :partial => "tweets"
  -cache ('right_banner') do
    = render :partial => "banners/outbanner", :locals => {:place => "right"}

#extra
  = render :partial => "index_complaints"

  -cache ('interview_index') do    
    = render_cell :index_page, :interviews

  = render :partial => "day_hero"

  -cache ('left_banner') do
    = render :partial => "banners/outbanner", :locals => {:place => "left"}



















