- title "Самое главное"
#wrapper
  #content
    #slides
      .slider
        - @slider_pubs.each do |pub|
          .imgs
            %a{:href => publication_path(pub)}
              = image_tag pub.newspic.url(:medium)
            .head_actual
              %h1= link_to pub.title, pub
              \ 
              %span.date= l pub.created_at, :format => :ngkub
    / end of "slider"
    .clear
    .page_block
      .block_hd Свежий номер
      .block_content
        .hot_news
          = image_tag @main_theme.newspic.url(:thumb)
          %div
            %h1= link_to @main_theme.title, @main_theme
            \ 
            %span.date= l @main_theme.created_at, :format => :ngkub
          %p= strip_tags @main_theme.intro
        .last_news
          - @index_publications.each do |pub|
            %p
              = link_to pub.title, pub
              %span.time= pub.created_at.strftime("%I:%H")
          %p
            = link_to "Все новости →".html_safe, publications_path
        / end of "last_news"
    / end of "page_block"


    .page_block.tele_block
      .block_hd Телевидение «Справедливая Кубань»
      .block_content
        = render :partial => "teles/onmain"
        .clear
    / end of "page_block"


#navigation
  .page_block
    .block_hd Свежие комментарии
    .block_content.comment_block
      - @last_comments.each do |comment|
        %p.short_comment
          = truncate(comment.body, :length => 120)
          %br/
          %a.u_pic{:href => "#"}
            - if (comment.autor)
              = comment.autor
            - else
              Анонимов А.А.
          |
          \#{link_to "статья", comment.commentable}
  / end of "page_block"
  .page_block
    .block_hd
      Наш
      %img{:src => "/assets/twitter.png"}/
    .block_content.tweet_block
      - if @tweets
        - @tweets.each do |tweet|
          .single_tweet
            %strong>
              %a{:href => tweet.user.url}
                @#{tweet.user.name}
            \:
            \#{tweet.text}
            %p.tweet_time
              = distance_of_time_in_words_to_now(tweet.created_at)
              назад
      %a{:href => "http://twitter.com/#!/novgaz_kuban"}
        %img{:src => "/assets/follow_us.png"}/
  / end of "page_block"
  = render :partial => "banners/outbanner", :locals => {:place => "right"}
#extra
  -if @day_hero
    .page_block
      .block_hd Герой дня
      .block_content.hero
        = image_tag @day_hero.heropic.url(:thumb)
        %div
          %h2
            = link_to @day_hero.title, hero_path(@day_hero)
          %span.grey= @day_hero.profession
          %p
            = @day_hero.intro
            = link_to raw("Узнать про героя →"), hero_path(@day_hero)
  / end of "extra"
  -if @index_interviews.length > 0
    .page_block
      .block_hd Online интервью
      .block_content.conf
        %ul
          - @index_interviews.each do |interview|
            %li
              %h2= link_to interview.title, interview_path(interview)
              = interview.intro
              %br/
              %span.grey= l interview.created_at, :format => :ngkub
              - if (interview.openquest)
                %a.ask{:href => interview_path(interview)}
                  %img{:src => "/assets/ask.png"}/
          %li{:style => "margin-bottom: 0px;"}
            = link_to "Все интервью →".html_safe, interviews_path
  = render :partial => "banners/outbanner", :locals => {:place => "left"}
