	<div id="wrapper">
		<div id="content">
			
			<div class="slider">
				<div class="imgs">
					<img src="/assets/big_pic.png" />
          <% @slider_pubs.each do |pub| %>
						<p>
              <%= pub.title %>
            </p>
          <% end %>
					<div class="head_actual">
						<h1>По улице ходила большая крокодила, в руках она держала наган и бутылку с зажигательной смесью</h1> 
						&nbsp;
						<span class="date">31 февраля 2012 15:15</span>
					</div>
				</div>
				<div class="pic_navi">
					<ul>
						<li>1</li>
						<li class="current">2</li>
						<li>3</li>
						<li>4</li>
						<li>5</li>
					</ul>
				</div>
				<div class="clear"></div>
			</div><!--end of "slider"-->
			
			<div class="page_block">
				<div class="block_hd">Свежий номер</div>
				<div class="block_content">
					<div class="hot_news">
						<%= image_tag @main_theme.newspic.url(:thumb) %>
						<div>
							<h1><%= link_to @main_theme.title, @main_theme %></h1> 
							&nbsp;
							<span class="date"><%= @main_theme.created_at.strftime("%d %B %Y") %></span>
						</div>
						
						<p><%= @main_theme.intro %></p>
						
					</div>
					
					<div class="last_news">
						<% @index_publications.each do |pub| %>
						<p>
              <%= link_to pub.title, pub %>	
              <span class="time"><%= pub.created_at.strftime("%I:%H")%></span>
            </p>
            <% end %>


					</div><!--end of "last_news"-->
				</div>
			</div><!--end of "page_block"-->

			<div class="page_block">
				<div class="block_hd">Телевидение &laquo;Справедливая Кубань&raquo;</div>
				<div class="block_content">
					<table class="teledom">
            <tr>
              <% @teles.each_with_index do |tele,i| %>
                <% case i %>
                    <% when 0 %>
                      <td class="one">
                    <% when 1 %>
                      <td class="two">
                    <% when 5 %>
                      <td class="three">
                 <% end %>

                 <div>
                    <% case i %>
                      <% when 0 %>
                        <a href="<%= tele_path(tele) %>">
                          <%=image_tag tele.telepic.url(:one) %>
                        </a>
                      <% when 1..4 %>
                        <a href="<%= tele_path(tele) %>">
                          <%=image_tag tele.telepic.url(:two) %>
                        </a>
                      <% when 5..12 %>
                        <a href="<%= tele_path(tele) %>">
                          <%=image_tag tele.telepic.url(:three) %>
                        </a>
                    <% end %>
                 </div>
                <% if (i==0)||(i==4)||(i==12) %>
                   </td>
                <% end %>

              <% end %>       
            </tr>
          </table>
					
					
				</div>
			</div>	<!--end of "page_block"-->
			
			
			
		</div>
	</div>
	
	<div id="navigation">
	
		<div class="page_block">
			<div class="block_hd">Свежие комментарии</div>
			<div class="block_content comment_block">
			  <% @last_comments.each do |comment| %>
				  <p class="short_comment">
					  <%= comment.body %><br />
					  <a class="u_pic" href="#">
            <% if (comment.autor) %>
              <%= comment.autor %>
            <% else %>
                 Анонимов А.А.      
             <% end %></a> | 
            <%= link_to "статья", comment.commentable %>
				  </p>
				<% end %>
      </div>
		</div><!--end of "page_block"-->
		
		
		<div class="page_block">
			<div class="block_hd">Наш <img src="/assets/twitter.png" /></div>
			<div class="block_content tweet_block">
			  <% @tweets.each do |tweet| %>
				<div class="single_tweet">
					<strong><a href="<%= tweet.user.url %>">@<%= tweet.user.name %></a></strong>: 
          <%= tweet.text %>
					<p class="tweet_time">
            <%=distance_of_time_in_words_to_now(tweet.created_at)%> ago
          </p>
					
				</div>
        <% end %>				

				<a href="#"><img src="/assets/follow_us.png" /></a>
				
				
			</div>
		</div><!--end of "page_block"-->
		
	</div>
	
	<div id="extra">
		<div class="page_block">
			<div class="block_hd">Герой дня</div>
			<div class="block_content hero">
				<%= image_tag @day_hero.heropic.url(:thumb) %>
				<div>
					<h2><%= link_to @day_hero.title, hero_path(@day_hero) %></a></h2>
					<span class="grey"><%= @day_hero.profession %></span>
					<p>
						<%= @day_hero.intro %>
            <%= link_to raw("Узнать про героя &rarr;"), hero_path(@day_hero) %>
					</p>
				</div>
			</div>
		</div><!--end of "extra"-->
		
		<div class="page_block">
			<div class="block_hd">Online интервью</div>
			<div class="block_content conf">
				<ul>
          <% @index_interviews.each do |interview| %>
					<li>
						<h2><%=link_to interview.title, interview_path(interview) %></h2>
						<%= interview.intro %><br />
						<span class="grey"><%= interview.created_at.strftime("%d %B %Y") %></span>	
						  <% if (interview.openquest) %>
                <a class="ask" href="<%= interview_path(interview)%>"><img src="/assets/ask.png" /></a>
              <% end %>
					</li>
          <% end %>
					
					<li style="margin-bottom: 0px;"><a href="#">Все интервью &rarr;</a></li>
					
				</ul>
			</div>
		</div>
		
	</div>
