- title "Самое главное"
#wrapper
  #content
    = render :partial => "index_slider"
    = render :partial => "index_news"
    = render :partial => "teles/onmain"

#navigation
  = render :partial => "index_comments"
  = render :partial => "tweets"
  -cache ('right_banner') do
    = render :partial => "banners/outbanner", :locals => {:place => "right"}

#extra
  = render :partial => "index_complaints"    
  = render :partial => "index_interviews"
  = render :partial => "day_hero"

  -cache ('left_banner') do
    = render :partial => "banners/outbanner", :locals => {:place => "left"}



















