-if @tele.title
  =button_to "удалить", @tele, :method => :delete, :class => "del", :confirm => "Точно?"

= simple_form_for (@tele) do |f|
  = f.input :title, :label => 'Заголовок'
  = f.input :publish, :label => 'Опубликовать?' 
  = f.input :slug, :label => 'Ссылка' 
  = f.input :intro, :as => :text, :label => 'Превью' 
  %label Полный текст  
  =f.cktext_area :body, :toolbar => 'Full', :width => 600, :height => 400
  = f.input :youtube, :as => :text, :label => 'Вставка видео кода'
  %label Изображение  
  = f.file_field :telepic
  = f.submit :class => 'btn btn-primary', :value => "Опубликовать"


