%div.single_page
  -@teles.each do |tele|
    %div.one_pub
      %h3= link_to tele.title, tele 
      %span.date= tele.created_at.strftime("%d %B %Y") 
      %p.news_img= image_tag tele.telepic.url(:medium) 
      %div.text_body
        = tele.intro
        = link_to "смотрите скорее >>", tele

