- title "Справедливая Кубань"
%div.single_page
  -@teles.each do |tele|
    -if check_show(tele)
      %div.one_pub
        %h3= link_to tele.title, tele
        %span.date= l tele.created_at, :format => :ngkub 
        = render :partial => "layouts/editcont", :locals => {:content => tele}        
        %p.news_img= image_tag tele.telepic.url(:medium) 
        %div.text_body
          = tele.intro
          = link_to "Смотреть программу &rarr;".html_safe, tele
    = will_paginate @teles, :class => "page_nav"

