- title "Справедливая кубань: #{@tele.title}"
- meta_description "#{@tele.intro}"

.single_page
  %h1= @tele.title 
  -if user_signed_in? and current_user.admin?
    %p.edit= link_to 'Редактировать', edit_tele_path(@tele)

  %p.news_img= image_tag @tele.telepic.url
  %div.text_body= raw @tele.body

  = render :partial => "comments/output", :locals => {:commentable => @tele}





