- title "Справедливая кубань: #{@tele.title}"
- meta_description "#{@tele.intro}"

.single_page
  .post_area
    %h1= @tele.title 
    = render :partial => "layouts/editcont", :locals => {:content => @tele}
    
    %div.text_body= raw @tele.body
    = render :partial => "layouts/social"
  = render :partial => "comments/output", :locals => {:commentable => @tele}





