- title "#{@category.title}"

%div.single_page
  %h1= @category.title
  %p= @category.intro 
  
  %div.news_cat
    -@publications.each do |publication|
      %div.one_pub
        %h3= link_to publication.title, publication 
        %span.date= l publication.created_at, :format => :ngkub
        -if publication.newspic.url != "/newspics/original/missing.png"
          %p.news_img= image_tag publication.newspic.url(:medium) 
        %div.text_body
          = strip_tags publication.intro
          = link_to "Полная версия &rarr;".html_safe, publication
