<!DOCTYPE html>
<html>
<head>
  <title>Новая газета кубани: <%= content_for?(:title) ? content_for(:title) : "" %></title>
  <meta name="description" content='<%= content_for?(:meta_descr) ? content_for(:meta_descr) : "" %>'>

  <%= stylesheet_link_tag  "application", :media => "all" %>
  <%= javascript_include_tag  "application" %>
  <%= javascript_include_tag  "slides.min.jquery.js" %>
  <%= javascript_include_tag "ckeditor/init" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path(current_user)) %>        
<% end %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="container">

	<div id="header">
		<div class="snd_block">
			<a class="logo" href="/"><img src="/assets/logo.png" /></a>
			
			<div class="right_top">
				<ul class="top_menu">
					<li class="rss"><a href="/publications.rss">RSS</a></li>
					<li ><a href="#">Рекламодателям</a></li>
					<li ><a href="#">Напишите нам</a></li>
				</ul>
				
        <% if @top_banner %> 
				    <%= raw @top_banner.body %>
        <% end %>
			
      </div>
		</div>


		<div class="clear" style="height:15px;"></div>

		<div class="menu_wrap">
			<ul class="main_menu menu">
				<%= render :partial => "categories/topmenu" %>
				<li class="search">
          <%= form_tag("/search", :method => "get") do %>
            <%= text_field_tag(:query) %>
          <% end %>
        </li>
    	</ul>
			<div class="clear" style="height:32px;"></div>
		</div>
	</div>

  <%= yield %>

	<div id="footer">
		<ul class="foot_menu menu">
				<li>&copy; &laquo;Новая Газета Кубани&raquo;</li>
				<li ><a href="#">Об использовании материалов</a></li>
				<li ><a href="#">Карта сайта</a></li>
			</ul>
	</div>
	
</div>


</body>
</html>
